body {
background-color: #F8F9FA;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0A2647;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #144272;
}
.App {
  min-height: 100vh;
 
}
.search-bar {
  margin: 20px 0;
}

.search-bar input {
  padding: 8px;
  width: 300px;
  font-size: 16px;
}

.data-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MuiPaper-root {
  animation: fadeIn 0.5s ease-out;
}

/* Hover effects */
.MuiButton-root {
  transition: all 0.3s ease !important;
}

.MuiButton-root:hover {
  transform: translateY(-2px) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .MuiContainer-root {
    padding: 10px;
  }
}
